.row.front {
    width: 100%;

    @include flex-column(center, center);

    h1 {
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 20%;
        margin: 4em auto 2em;

        img {
            width: 100%;
        }
    }
}
